*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    box-sizing: border-box;
}
body{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.container{
    display: flex;
    flex-direction: column;
    width: 300px;
    padding: 15px;
    border: 2px solid rgb(34, 110, 24);
    border-radius: 5px;
    background-color: rgb(208, 209, 204);
}
input{
    margin: 5px 0 ;
    height: 35px;
    padding: 10px;
}
button{
    height: 35px;
    margin: 5px 0;
    background-color: skyblue;
    bottom: none;
    border-radius: 5px;
}
button:hover{
    background-color: rgb(21, 187, 63);
    color: black;
    font-style: italic;
}